* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background: rgb(44, 185, 187);
  background: linear-gradient(
    0deg,
    rgba(44, 185, 187, 1) 0%,
    rgba(97, 237, 179, 1) 100%
  );
  padding: 20px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo-img {
  width: 80px;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 10px 10px !important;
  }

  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar-right {
    float: none;
  }
}

.search-btn {
  padding-left: 1em;
  padding-right: 1em;
}

.nav-link {
  color: whitesmoke;
  font-weight: bold;
}

.bg-footer-1 {
  background: rgb(39, 163, 164);
  background: linear-gradient(
    0deg,
    rgba(39, 163, 164, 1) 0%,
    rgba(77, 194, 145, 1) 100%
  );
  border-top: 3px solid #483d8b;
}
.bg-footer-2 {
  background: rgb(5, 5, 5);
  background: linear-gradient(
    0deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(30, 40, 36, 1) 100%
  );
}
.about-color {
  color: black;
}
.badge-cart {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 14px;
  background: #ff0000;
  color: #fff;
  padding: 1px 5px 2px 5px;
  vertical-align: top;
  margin-left: -10px;
}
.navbar-toggler .hamburger-toggle {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  z-index: 11;
}
.navbar-toggler .hamburger-toggle .hamburger {
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}
.navbar-toggler .hamburger-toggle .hamburger span {
  width: 100%;
  height: 4px;
  position: absolute;
  background: #333;
  border-radius: 2px;
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
  left: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger span:first-child {
  top: 10%;
  transform-origin: 50% 50%;
  transform: translate(0% -50%) !important;
}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.navbar-toggler .hamburger-toggle .hamburger span:last-child {
  left: 0px;
  top: auto;
  bottom: 10%;
  transform-origin: 50% 50%;
}
.navbar-toggler .hamburger-toggle .hamburger.active span {
  position: absolute;
  margin: 0;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
  top: 45%;
  transform: rotate(45deg);
}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
  left: 50%;
  width: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
  top: 45%;
  transform: rotate(-45deg);
}
/* Style Order page */
.btn-order {
  width: 6em;
}
.order-info-list {
  max-height: 50em;
  overflow: auto;
}
.badge-order {
  background-color: #ff0000;
}
/* Style Order Tracking */
.bs5-order-tracking {
  margin-bottom: 30px;
  overflow: hidden;
  color: #878788;
  padding-left: 0px;
  margin-top: 30px;
}

.bs5-order-tracking li {
  list-style-type: none;
  font-size: 13px;
  width: 16.66%;
  float: left;
  position: relative;
  font-weight: 400;
  color: #878788;
  text-align: center;
}

.bs5-order-tracking li:first-child:before {
  margin-left: 15px !important;
  padding-left: 11px !important;
  text-align: left !important;
}

.bs5-order-tracking li:last-child:before {
  margin-right: 5px !important;
  padding-right: 11px !important;
  text-align: right !important;
}

.bs5-order-tracking li > div {
  color: #fff;
  width: 29px;
  text-align: center;
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #878788;
  border-radius: 50%;
  margin: auto;
}

.bs5-order-tracking li:after {
  content: "";
  width: 150%;
  height: 2px;
  background: #878788;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1;
}

.bs5-order-tracking li:first-child:after {
  left: 50%;
}

.bs5-order-tracking li:last-child:after {
  left: 0% !important;
  width: 0% !important;
}

.bs5-order-tracking li.active {
  font-weight: bold;
  color: #dc3545;
}

.bs5-order-tracking li.active > div {
  background: #dc3545;
}

.bs5-order-tracking li.active:after {
  background: #dc3545;
}

.card-timeline {
  background-color: #fff;
  z-index: 0;
}
/* Tracking 2 - For Cancelled Status */
.bs5-order-tracking-2 {
  margin-bottom: 30px;
  overflow: hidden;
  color: #878788;
  padding-left: 0px;
  margin-top: 30px;
}

.bs5-order-tracking-2 li {
  list-style-type: none;
  font-size: 13px;
  width: 50%;
  float: left;
  position: relative;
  font-weight: 400;
  color: #878788;
  text-align: center;
}

.bs5-order-tracking-2 li:first-child:before {
  margin-left: 15px !important;
  padding-left: 11px !important;
  text-align: left !important;
}

.bs5-order-tracking-2 li:last-child:before {
  margin-right: 5px !important;
  padding-right: 11px !important;
  text-align: right !important;
}

.bs5-order-tracking-2 li > div {
  color: #fff;
  width: 29px;
  text-align: center;
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #878788;
  border-radius: 50%;
  margin: auto;
}

.bs5-order-tracking-2 li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #878788;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1;
}

.bs5-order-tracking-2 li:first-child:after {
  left: 50%;
}

.bs5-order-tracking-2 li:last-child:after {
  left: 0% !important;
  width: 0% !important;
}

.bs5-order-tracking-2 li.active {
  font-weight: bold;
  color: #dc3545;
}

.bs5-order-tracking-2 li.active > div {
  background: #dc3545;
}

.bs5-order-tracking-2 li.active:after {
  background: #dc3545;
}

/* Style Payment Success */

.success-title {
  color: #88b04b;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
.success-note {
  color: #404f5e;
  font-size: 20px;
  margin: 0;
}
.checkmark {
  color: #9abc66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}
.card-success {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
}
.checkmark-area {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #f8faf5;
  margin: 0 auto;
}
/* Style Wishlist */
.heart {
	color:red;
}
.btn-heart{
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.btn-heart-2{
  border: none;
  background-color: transparent;
  font-size: 20px;
}
/* Style Cancel Order */
.btn-cancel-order{
  width: 6em;
}
