@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
html,
body {
  /* background: rgb(113,123,209);
    background: linear-gradient(90deg, rgba(113,123,209,1) 0%, rgba(181,102,198,1) 33%, rgba(175,90,214,1) 49%, rgba(144,54,209,1) 100%); */
  background: rgb(77, 142, 139);
  background: linear-gradient(
    90deg,
    rgba(77, 142, 139, 1) 0%,
    rgba(63, 173, 126, 1) 20%,
    rgba(63, 173, 126, 1) 80%,
    rgba(77, 142, 139, 1) 100%
  );
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  background: #6665ee;
}
/* .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.container .form {
  background: #fff;
  padding: 30px 35px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .form form .form-control {
  height: 40px;
  font-size: 15px;
}
.container .form form .forget-pass {
  margin: -15px 0 15px 0;
}
.container .form form .forget-pass a {
  font-size: 15px;
}
.container .form form .button {
  background: #6665ee;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.container .form form .button:hover {
  background: #5757d1;
}
.container .form form .link {
  padding: 5px 0;
}
.container .form form .link a {
  color: #6665ee;
}
.container .login-form form p {
  font-size: 14px;
}
.container .row .alert {
  font-size: 14px;
}
.stop {
  animation-name: none !important;
  -webkit-animation-name: none !important;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#logo-uni {
  max-width: 5em;
  max-height: 5em;
}
